<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bảng điều khiển</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        #display_image {
            width: 150px;
            height: 150px;
            border: 1px solid black;
            background-position: center;
            background-size: cover;
            background-image: url('<%= product.image %>');
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-qrcode"></i>
                </div>
                <div class="sidebar-brand-text mx-3">origin of goods</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Bảng điều khiển</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Chức năng
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Sản phẩm</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Sản phẩm:</h6>
                        <a class="collapse-item" href="/admin/add-product">Thêm Sản phẩm</a>
                        <a class="collapse-item" href="/admin/list-product">Danh sách sản phẩm</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>QR Code</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">QR code:</h6>
                        <a class="collapse-item" href="/admin/list-qrcode">Danh sách Mã QR Code</a>
                        <a class="collapse-item" href="/admin/create-qrcode">Tạo QR Code</a>

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Mở rộng
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>tài khoản</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">tài khoản:</h6>
                        <a class="collapse-item" href="/change-password">Đổi mật khẩu</a>
                        <a class="collapse-item" href="/info">Thông tin</a>
                    </div>
                </div>
            </li>



            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    <%= user.businessName -%>
                                </span>
                                <img class="img-profile rounded-circle" src="/static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/admin/info">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Hồ sơ
                                </a>
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Xác nhận xóa sản phẩm</h1>

                    </div>



                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-4 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Thông tin sản phẩm</h6>
                                </div>
                                <div class="card-body">

                                    <div class=" input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">Mã sản phẩm</label>
                                        </div>
                                        <input readonly value="<%= product.productID %>" class=" form-control"
                                            type="text" name="" id="maSanPham" placeholder="">
                                    </div>

                                    <div class=" input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">Tên sản phẩm</label>
                                        </div>
                                        <input readonly value="<%= product.productName %>" class=" form-control"
                                            type="text" name="" id="tenSanPham" placeholder="">
                                    </div>


                                    <div class=" input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">Xuất xứ</label>
                                        </div>
                                        <input readonly value="<%= product.productOrigin %>" class=" form-control"
                                            type="text" name="" id="xuatXu" placeholder="">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Webiste giới thiệu</span>
                                        </div>
                                        <input readonly value="<%= product.productWebsite %>" type="text"
                                            id="websiteGioiThieu" class="form-control">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Thông tin chi tiết</span>
                                        </div>
                                        <textarea readonly value="<%= product.productDescription %>"
                                            id="thongTinChiTiet" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Thông tin liên hệ</h6>
                                </div>
                                <div class="card-body">

                                    <div class=" input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">Công ty sản xuất</label>
                                        </div>
                                        <input readonly value='<%= user.businessName %>' class=" form-control"
                                            type="text" name="" id="congTy" placeholder="">
                                    </div>

                                    <div class=" input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">Webiste</label>

                                        </div>
                                        <input readonly value='<%= user.website %>' class=" form-control" type="text"
                                            name="" id="website" placeholder="">

                                    </div>

                                    <div class=" input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">Email</label>
                                        </div>
                                        <input readonly value='<%= user.email %>' class=" form-control" type="text"
                                            name="" id="email" placeholder="">
                                    </div>

                                    <div class=" input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">Hotline</label>
                                        </div>
                                        <input readonly value='<%= user.hotline %>' class=" form-control" type="text"
                                            name="" id="hotline" placeholder="">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Địa chỉ</span>
                                        </div>
                                        <input readonly type="text" value='<%= user.address %>' id="diaChi"
                                            class="form-control">
                                    </div>
                                    <p>(thay đổi ở mục thông tin tài khoản)</p>
                                </div>

                            </div>
                        </div>


                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Hình ảnh sản phẩm</h6>
                                </div>
                                <div class="card-body">
                                    <div id="display_image"></div>


                                </div>
                                <div class="card-footer">
                                    <button id="btnXoaSP" class="btn btn-primary btn-icon-split btn-lg">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">Xóa sản phẩm</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; origin of goods 2022</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đăng xuất?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Bạn sẽ thoát khỏi phiên làm việc này?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Không</button>
                        <a class="btn btn-primary" href="/logout">Vâng</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/static/js/sb-admin-2.min.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>


            // button add product
            $('#btnXoaSP').click(function () {

                axios.post('/admin/delete-product', { maSanPham: $('#maSanPham').val() })
                    .then(function (response) {
                        console.log(response);
                        if (response.data.status == 'success') {
                            alert('Xóa sản phẩm thành công');
                            window.location.href = '/admin/list-product';
                        }
                        else {
                            alert(response.data.message);
                        }

                    }).catch(function (error) {
                        console.log(error);
                        alert('Đã có lỗi từ hệ thống');
                    });

            });


        </script>

</body>

</html>